:root {
    --color-fondo-1: hsla(117, 32%, 56%, 0.504);
    --color-fondo-2: hsla(154, 87%, 15%, 0.504);
    --color-fondo-3: hsla(112, 100%, 9%, 0.504);
    --color-fondo-4: hsla(120, 100%, 12%);
    --color-fondo-6: hsla(120, 100%, 25%, 1);
    --text-color-1: hsla(0, 0%, 100%, 1);
    --text-color-2: hsla(0, 0%, 0%, 1);
    --form-fondo: hsla(0, 0%, 100%, 0.468);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Urbanist", serif;
    scroll-behavior: smooth;
}

html {
    overflow: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

header {
    scroll-snap-align: start;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(
        var(--color-fondo-1),
        var(--color-fondo-2)
    ), url("../img/img1.jpg");
    background-position: 100% 50%;
    background-size: cover;
    background-attachment: fixed;
    animation: fondo 20s ease-in-out infinite;
}

@keyframes fondo {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.portada {
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(7, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.titulo {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    padding: 2rem;
    color: var(--text-color-1);
}

.titulo h1 {
    font-size: 1.5rem;
}

.cotizar {
    grid-column: 2 / 4;
    grid-row: 6 / 7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cotizar a {
    color: var(--text-color-1);
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    overflow: hidden;
}

.cotizar a i {
    animation: moverflechita 2s ease-in-out infinite;
}

@keyframes moverflechita {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(30px);
    }
    100% {
        transform: translateY(0px);
    }
}

.rss {
    position: absolute;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 15px;
    bottom: 65%;
    transform-origin: center right;
    transform: rotate(-90deg);
    color: aliceblue;
}

.rss ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rss ul a {
    padding: 0.35rem;
    color: var(--text-color-1);
}

section {
    scroll-snap-align: start;
    background-color: green;
    background-image: linear-gradient(
        var(--color-fondo-3),
        var(--color-fondo-2)
    ), url("../img/img2.jpg");
    background-size: cover;
    background-attachment: fixed;
    animation: fondo2 30s ease-in-out infinite;
}

@keyframes fondo2 {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.contacto {
    padding: 2rem;
    color: var(--text-color-1);
}

.contacto i {
    font-weight: lighter;
}

.contacto p {
    font-size: .8rem;
}

.informacion {
    margin: 3rem;
    font-size: 1rem;
}

.contenedor_form {
    background: var(--form-fondo);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    max-width: 500px;
    width: 90%;
    margin: 2rem auto
}

form {
    display: flex;
    flex-direction: column;
    color: var(--text-color-2);
}

label {
    margin-top: 1rem;
    font-weight: bold;
}

input,
textarea,
select {
    font-size: 0.8rem;
    margin-top: 0.5rem;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

input#file {
    font-size: 0.6rem;
}

textarea#mensaje {
    overflow: hidden;
}

.submit-btn {
    background-color: var(--color-fondo-6);
    color: var(--text-color-1);
    border: none;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.submit-btn:hover {
    background-color: var(--color-fondo-4);
}

@media screen and (min-width: 768px) {
    header {
        animation: fondo 20s ease-in-out infinite;
        background-size: 150%;
    }
    .titulo {
        padding: 4rem;
    }
    .titulo h1 {
        font-size: 4rem;
    }
    .titulo p {
        font-size: 2rem;
    }
    .rss span {
        font-size: 1.5rem;
    }
    .rss ul a {
        font-size: 1.5rem;
    }
    section {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        animation: fondo 30s ease-in-out infinite;
        background-size: 150%;
    }
    .contenedor_form {
        width: 600px;
    }

    .contacto {
        color: var(--text-color-1);
    }

    .contacto p {
        font-size: 1rem;
        -webkit-box-orient: vertical;
        -webkit-box-clamp: 2;
    }

    .informacion {
        margin: 3rem;
        width: 500px;
        font-size: 2rem;
    }

    input#file {
        font-size: 0.8rem;
    }

}